#center {
      padding: 15px 10px;
      background-color: #F0FFFF;
      width: 70%;
      margin: 0 auto;
}

#c {
      padding: 20 px;
      background-color: #AFEEEE;
      width: 100%;
      margin: 10px;
border: 1px solid #AFEEEE;

      
}